{
  "projects" : [
      {"test":{
               "path" :"/../../wp-content/themes/test/"
             },
             "bdd":{
                      "default":{
                          "url":"maroc-etude.test",
                          "export" :"%alias%-%date%",
                      },
                      "prod":{
                        "url":"dev-maroc-etude.endevmode.com",
                        "export" :"%alias%-%date%",
                         "replaces":[{"xxx":"xxxxxx"},{"yyyyyy":"yyyyyyyyyyy"}]
                      }
             }
      }
  ],
  "current_dist" : "test",
  "dir_inc" : "inc/",
  "dir_owp" : "inc/owp",
  "pages_dist":"pages",
  "tpl_config":{
    "file_source":"tpl.json"
  }
}